<nav class="navbar">
  <div class="logo-field">
    <a href="/">FriendsQA</a>
  </div>
  <div class="navigation-field">
  {% for item in site.data.menu %}
    {% if item.child %}
      <div class="dropdown">
        <a class="dropbtn" > {{ item.name }}
          <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-content">
          {% for child in item.children %}
            <a href="{{ child.link }}">{{ child.name }}</a>
          {% endfor %}
        </div>
      </div>
    {% else %}
    <a {% if page.url != item.link %}href="{{ item.link }}"{% endif %} {% if item.name=="About" or item.name=="Paper" or item.name=="People" %}onclick="{{item.name}}()"{% endif %}>
          {{ item.name  }}
      </a>
    {% endif %}
  {% endfor %}
  </div>
</nav>

