.bk-container {
  position: relative;
  top: 3em; // navbar height
  clear: both;

  .bk-img {
    width: 100%;
    height : 25em;
  }
  .bk-header {
    color: white;
    text-align: center;
    font-size: 3em;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 100%;
    
    @media screen and (min-width: 700px and 1100px) {
      font-size: 2.5em;
    }
    @media screen and (max-width: 700px) {
      font-size: 2em;
    }
    @media screen and (max-width: 400px) {
      font-size: 1.5em;
    }
  }
}

.paper p.content-item {
  clear: both;
}

.paper p.content-item span#authors {
  font-size: 0.8em;
}
