.bk-container {
  position: relative;
  top: 0;

  clear: both;

  .bk-img {
    width: 100%;
    height: 23em;
  }
  .bk-header {
    color: white;
    text-align: center;
    font-size: 3em;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 100%;
    
    @media screen and (min-width: 700px and 1100px) {
      font-size: 2.5em;
    }
    @media screen and (max-width: 700px) {
      font-size: 2em;
    }
    @media screen and (max-width: 400px) {
      font-size: 1.5em;
    }
  }
}

.update {
  text-align: left;
  line-height: 0.8em;

  h1.content-title {
    font-size: 1em;
    text-align: left;
    }
  h1.content-title:after {
    content: "";
    display: none;
  }

  span#date { 
    margin-right: 1em;
    color: #870611;
  }

  .content-item a {
    text-decoration: none;
    color: #3399ff;
  }
}

.update span#more {
  color: #3399ff;  
}

.paper p.content-item {
  clear: both;
}

.paper p.content-item span#authors {
  font-size: 0.8em;
}
