html {
  min-height: 100%;
  overflow-x: hidden;
 
  @media (min-width: 780px) and (max-width: 860px) {
    font-size: .9em;
  }
  @media (min-width: 690px) and (max-width: 780px) {
    font-size: .8em;
  }
  @media (min-width: 580px) and (max-width: 690px) {
    font-size: .7em;
  }
  @media (min-width: 535px) and (max-width: 580px) {
    font-size: .6em;
  }
  @media (min-width: 500px) and (max-width: 535px) {
    font-size: .5em;
  }
}

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

button {
  outline: none;
}

.container {
  float: left;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.main-container {
  width: 100%;
  margin-bottom: 5em;
  float: left;
}

.content-container {
  position: relative;
  text-align: left;
  float: left;
  width: 100%;
  margin: 3em 0 1em 0;
  width: 60%;
  padding: 0 20%;
  line-height: 1.5em;

  @media (min-width: 500px) and (max-width: 1024px) {
    padding: 5%;
    width: 90%;
    font-size: 1.5em;
  }
  @media screen and (max-width: 500px) {
    padding: 5%;
    width: 90%;
    font-size: 0.8em;
  }
}

h1.content-title {
  font-size: 2em;
  text-align: left;
  margin: 2em 0;

  @media (max-width: 768px) {
    font-size: 3em;
    line-height: 1.5em;
  }
}

.content-subcontainer {
  margin-bottom: 5em;
}

.content-subcontainer h2.content-subtitle {
  text-align: left; 
}

.content-subcontainer .content-item {
  text-align: left; 

  a#download_link {
    text-decoration: none;
    font-weight: bold;
    color: #3399ff;
  }
}

footer {
  overflow: hidden;
  width: 100%;
  height: 1.1em;

  position: absolute;
  bottom: 0;
  text-align: center;

  background-color: black;
  padding: 0.875em 1em;

  margin-top: 3em;
}

footer a {
  font-size: 1em;
  color: white;
  text-decoration: none;

  @media screen and (max-width: 535px) {
    font-size: .3em;
  }
}
