nav.navbar {
  //overflow: hidden;
  background-color: black; // change
  color: white; 
  font-family: Helvetica;
  height: 3em;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;


  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  a {
    padding: 0.825em 1em;

    @media (max-width: 768px) {
      padding: 0.625em 0.3em;
    }
  }
}

.logo-field {
  float: left;
  padding-top: 0.5em;

  @media (max-width: 768px) {
    padding: 0.625em 0.1em;

  }
}

.logo-field a {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}

.navigation-field {
  float: right;
  height: 100%;

  @media (max-width: 768px) {
    display: none;
  }
}
.navigation-field a { 
  color: white; 
  float: left;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}

.dropdown { 
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1em;
  border: none;
  outline: none;
  //padding: 0.875em 1em;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

@media (min-width: 768px) {
  .navigation-field a:hover, .dropdown:hover .dropbtn {
    color: #ff9900;
  }

  .dropdown-content a:hover {
    color: #ff9900;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 2.9em;
  background-color: black; // change
  min-width: 10em;
  box-shadow: 0em 0.5em 1em 0em rgba(0,0,0,0.2);

  z-index: 150;
}

.dropdown-content a {
  float: none;
  color: white; // change
  padding: 0.75em 1em;
  text-decoration: none;
  display: block;
  text-align: left;
}


/*** Media menu ***/
.nav-toggle {
  float: right;
  padding: 0.825em 1em;

  height: 100%;
  border: none;
  background: transparent;

  span {
    display: block;
    width: 2em;
    height: 0.2em;
    border-radius: 0.1em;
    background-color: white;
    margin: 0.3em;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.navigation-field-toggle {
  display: none;

  width: 100%;
  background-color: black;
  position: absolute;
  top: 3em;
  left: 0;

  text-align: center;

  a {
    display: block;
    text-decoration: none;
    color: white;
  }

  .toggle-menu, .dropdown {
    float: left;
    width: 100%;
    padding: 1em 0;
  }

  .dropdown {
    padding: 0;
  }

  .dropdown-content {
    display: none;
    opacity: 0.5;

    position: relative;
    top: 100%;
    width: 100%;

    a {
      padding: 1em 0;
      text-align: center;
    }
  }
}
