.workshop {
  text-align: center;

  table {
    width: 80%;
    margin: 0 10%;
    border-collapse: collapse;
    text-align: center;
    th, td {
      padding: 0.85em 1em;
      border: 1px solid #d9dbdd;
    }
  }
}
