<!doctype html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/menu.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div class="container">
      {% include menu.html %}
      <div class="bk-container">
        <img class="bk-img" src="/assets/images/main.png">
        <h1 class="bk-header">
          FriendsQA for Video Story Understanding
        </h1>
      </div>

      <div class="main-container">
        {{ content }}
      </div>

      <footer>
        <a href="mailto:friendsqa@gmail.com">Contact us: friendsqa@gmail.com</a>
      </footer>
    </div>
  </body>
</html>
